<div style="text-align: center;">
  <img src="https://clipart.info/images/ccovers/1499794873github-logo-png.png"
       style="width: 350px; height: 100px; margin: 10px 0px 20px 0px;"
       alt=""
  >

  <%= form_with model: search, as: :post, url: searches_get_repos_github_path, method: :post, local: false, html: { id: "frm_search_gitub_jgfh21rt564y" } do |form| %>
    <div class="form-group">
      <%= form.text_field :query, id: "query_github_sf32we5", class: "form-control" %>
    </div>

    <div class="actions" style="margin-bottom: 10px;">
      <%= form.submit 'Find', class: "btn btn-primary", id: "btn_search_21asdweqr654sf" %>
    </div>
  <% end %>
</div>

<script>
  var timeout_github_search = undefined;

  document.querySelector("#query_github_sf32we5").addEventListener("keyup", (evt) => {
      if(evt.key == "Enter") {
          killTimeouts();
          sendRequest();
      } else {
          runSearch();
      }
  });

  function killTimeouts() {
      if(timeout_github_search != undefined) {
          clearTimeout(timeout_github_search);
      }
  }

  function runSearch() {
      killTimeouts();

      timeout_github_search = setTimeout(function () {
          sendRequest();
      }, 5000);
  }

  function sendRequest() {
      document.getElementById("frm_search_gitub_jgfh21rt564y").submit();
  }
</script>